@font-face {
    font-family: 'ColaborateThin';
    src: url('fonts/ColabThi.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateRegular';
    src: url('fonts/ColabReg.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSansThin';
    src: url('fonts/WorkSans-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Perfect';
    src: url('fonts/Perfect.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%;
    font-family: ColaborateThin;
}

strong {
    font-weight: normal;
}

.reg {
    font-family: ColaborateRegular;
    letter-spacing: 1px;
}

p, a, #equipe section ul h3, #monCompte .annonces>h2, .kc-item>div>h3 {
    font-size: 1em;
}

h1, h2, h3, h4 {
    font-size: 1.2em;
    font-family: WorkSansThin;
}

footer p, footer a, #oubli_mdp {
    font-size: 0.8em;
}

#titreIndex_desktop .cls-1 {
    font-size: 10px;
    font-family: Perfect;
}
