{% extends 'general.html.twig' %}
{% block idBody %}confirmationSupprAnnonces{% endblock %}
{% block contenu %}
    <form method="post">
        <p>Voulez-vous vraiment supprimer cette annonce ? </p>
        <div>
            <button type="submit" class="btn blanc up" name="oui">Oui</button>
            <button type="button" class="btn blanc up" name="non"
                    onclick="javascript:document.location.href = 'index.php?page=supprAnnonces'" >Non</button>
        </div>
    </form>
{% endblock%}