{% extends 'general.html.twig' %}

{% block head %}<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>{% endblock %}

{% block idBody %}confirmationSupprAnnonces{% endblock %}

{% block contenu %}
    <form method="post">
        <p>Voulez-vous vraiment supprimer cette annonce ? </p>
        <div>
            <button type="submit" class="btn blanc up" name="oui">Oui</button>
            <button type="button" class="btn blanc up" name="non"
                    onclick="javascript:document.location.href = 'index.php?page=supprAnnonces'" >Non</button>
        </div>
    </form>
{% endblock%}