{% extends 'general.html.twig' %}

{% block idBody %}monCompte{% endblock %}

{% block contenu %}
    <h2 class="center up">Mon compte</h2>
    <div id="donneesCompte">
        <div class="logoEntOffre">
            <img src="img/web.png" alt="">
            <p class="up bleuF">Entreprise</p>
        </div>
        <p>Description : <br><span class="bleuF">une description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, dignissimos.</span></p>
        <p>Pays : <span class="bleuF"></span></p>
        <p>Ville : <span class="bleuF"></span></p>
        <p>Adresse : <span class="bleuF"></span></p>
        <p>Code postal : <span class="bleuF"></span></p>
        <p>Code APE/NAF : <span class="bleuF"></span></p>
        <p>Type d'entreprise : <span class="bleuF"></span></p>
        <p>Statut juridique : <span class="bleuF"></span></p>
        <p>Effectif : <span class="bleuF"></span></p>
        <p>Site web : <span class="bleuF"></span></p>
        <p>Nom du responsable : <span class="bleuF"></span></p>
        <p>Email du responsable : <span class="bleuF"></span></p>
        <p>Téléphone du responsable : <span class="bleuF"></span></p>
        <p>Identifiant : <span class="bleuF"></span></p>
        <p>Mot de passe : <span class="bleuF"></span></p>
    </div>
    <div class="annonces">
        <h2 class="center up bleuF">Mes annonces</h2>

        <section id="listeOffres">
            <div class="offre">
                <div class="logoEntOffre">
                    <img src="img/web.png" alt="Logo Entreprise">
                    <h3 class="bleuF up">Stage | Entreprise</h3>
                </div>
                <div>
                    <p class="titre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, doloremque.</p>
                    <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cum cupiditate delectus dolores ipsum natus nostrum voluptatibus?
                        A accusamus animi dolorem, eos eveniet iure mollitia nostrum praesentium quas
                        tempora, temporibus ut?
                    </p>
                    <a href="" class="bleuF">www.entreprise.com</a>
                    <div class="gestion">
                    <span class="edit">
                        <a href=""><img src="img/edit-icon.png" alt="Icone editer"></a>
                    </span>
                        <form>
                            <button name="suppAnnonce" class="supp"><img src="img/icone_croix.png" alt="Icone supprimer"></button>
                        </form>
                    </div>
                    <span><a href="index.php?page=offreDetaillee" class="blanc up">Voir l'offre</a></span>
                </div>
            </div>

            <div class="offre">
                <div class="logoEntOffre">
                    <img src="img/web.png" alt="Logo Entreprise">
                    <h3 class="bleuF up">Stage | Entreprise</h3>
                </div>
                <div>
                    <p class="titre">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, doloremque.</p>
                    <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cum cupiditate delectus dolores ipsum natus nostrum voluptatibus?
                        A accusamus animi dolorem, eos eveniet iure mollitia nostrum praesentium quas
                        tempora, temporibus ut?
                    </p>
                    <a href="" class="bleuF">www.entreprise.com</a>
                    <div class="gestion">
                    <span class="edit">
                        <a href=""><img src="img/edit-icon.png" alt="Icone editer"></a>
                    </span>
                        <form>
                            <button name="suppAnnonce" class="supp"><img src="img/icone_croix.png" alt="Icone supprimer"></button>
                        </form>
                    </div>
                    <span><a href="index.php?page=offreDetaillee" class="blanc up">Voir l'offre</a></span>
                </div>
            </div>
        </section>


        
    </div>
{% endblock %}