{% extends 'general.html.twig' %}

{% block idBody %}equipe{% endblock %}

{% block contenu %}
    <section>
        <h2 class="center up">Direction & administration du Département</h2>
        <ul class="center">
            <li>
                <h3 class="bleuF">Chef de Département</h3>
                <p>David LAIYMANI</p>
            </li>
            <li>
                <h3 class="bleuF">Directeur des études</h3>
                <p>Arnaud GIERSCH</p>
            </li>
            <li>
                <h3 class="bleuF">Responsable pédagogique<br/>licence pro. SIL/CAM parcours TeproW</h3>
                <p>Jean-François COUCHOT</p>
            </li>
            <li>
                <h3 class="bleuF">Stages</h3>
                <p>Mourad HAKEM</p>
            </li>
            <li>
                <h3 class="bleuF">Secrétariat</h3>
                <p>Patricia PY</p>
            </li>
            <li>
                <h3 class="bleuF">Entretien</h3>
                <p>Aline BECHIR</p>
            </li>
        </ul>
    </section>
{% endblock %}