{% extends 'general.html.twig' %}

{% block idBody %}index{% endblock %}

{% block contenu %}
        <div class="entete">
            <div>
                <div>
                    <img src="img/logo.png" alt="Logo Département Informatique Belfort">
                </div>
                <h1 id="titreIndex_handle" class="center blanc up">
                    Département Informatique de l'IUT Belfort
                </h1>
                <svg id="titreIndex_desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 36.33">
                    <g>
                        <text  class="cls-1" transform="translate(0 17.5)">D
                            <animate id="t1" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="0.5s"
                                     dur="0.1s"
                                     fill="freeze"/>
                        </text>
                        <text  class="cls-1" transform="translate(7 17.5)">E
                            <animate id="t2" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t1.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(14 17.5)">P
                            <animate id="t3" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t2.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(21 17.5)">A
                            <animate id="t4" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t3.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(28 17.5)">R
                            <animate id="t5" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t4.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(35 17.5)">T
                            <animate id="t6" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t5.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(42 17.5)">E
                            <animate id="t7" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t6.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(49 17.5)">M
                            <animate id="t8" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t7.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(56 17.5)">E
                            <animate id="t9" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t8.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(63 17.5)">N
                            <animate id="t10" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t9.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(70 17.5)">T
                            <animate id="t11" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t10.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>



                        <text class="cls-1" transform="translate(84 17.5)">I
                            <animate id="t12" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t11.end+0.1s"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(91 17.5)">N
                            <animate id="t13" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t12.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(98 17.5)">F
                            <animate id="t14" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t13.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(105 17.5)">O
                            <animate id="t15" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t14.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(112 17.5)">R
                            <animate id="t16" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t15.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(119 17.5)">M
                            <animate id="t17" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t16.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(126 17.5)">A
                            <animate id="t18" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t17.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(133 17.5)">T
                            <animate id="t19" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t18.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(140 17.5)">I
                            <animate id="t20" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t19.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(147 17.5)">Q
                            <animate id="t21" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t20.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(154 17.5)">U
                            <animate id="t22" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t21.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(161 17.5)">E
                            <animate id="t23" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t22.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>


                        <text class="cls-1" transform="translate(175 17.5)">D
                            <animate id="t24" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t23.end+0.1s"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(182 17.5)">E
                            <animate id="t25" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t24.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>


                        <text class="cls-1" transform="translate(196 17.5)">L
                            <animate id="t26" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t25.end+0.1s"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(203 17.5)">'
                            <animate id="t27" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t26.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(210 17.5)">I
                            <animate id="t28" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t27.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(217 17.5)">U
                            <animate id="t29" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t28.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(224 17.5)">T
                            <animate id="t30" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t29.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>


                        <text class="cls-1" transform="translate(238 17.5)">B
                            <animate id="t31" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t30.end+0.1s"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(245 17.5)">E
                            <animate id="t32" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t31.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(252 17.5)">L
                            <animate id="t33" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t32.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(259 17.5)">F
                            <animate id="t34" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t33.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(266 17.5)">O
                            <animate id="t35" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t34.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(273 17.5)">R
                            <animate id="t36" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t35.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <text class="cls-1" transform="translate(280 17.5)">T
                            <animate id="t37" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t36.end"
                                     dur="0.1s"
                                     fill="freeze"/></text>
                        <rect x="287" y="11" width="4" height="7">
                            <animate id="t38" attributeName="opacity" attributeType="XML"
                                     from="0" to="1"
                                     begin="t37.end"
                                     dur="0.4s"
                                     repeatCount="3"
                                     fill="freeze"/>
                            <animate id="t39" attributeName="opacity" attributeType="XML"
                                     from="1" to="0"
                                     begin="t38.end"
                                     dur="0.4s"
                                     fill="freeze"/>

                        </rect>
                    </g>
                </svg>
                <div>
                    <a href="https://www.facebook.com/DUT-Informatique-IUT-Belfort-Montb%C3%A9liard-203624589686838/?fref=ts">
                        <img src="img/social-facebook.png" alt="Logo Facebook" class="fb">
                    </a>
                </div>
            </div>
        </div>

        <section id="video">
            <h1 class="center blanc">
                Découvrez le DUT Informatique !
            </h1>
            <div id="iframe">
                <iframe src="https://www.youtube.com/embed/1FwMIiL-_MA" allowfullscreen></iframe>
            </div>

            <p class="center blanc">
                Ce diplôme a pour objectifs de former des spécialistes de l'informatique dont le métier implique une activité de conception, de réalisation et de mise en oeuvre
                d'outils informatique, mis ensuite à la disposition d'utilisateurs.
            </p>
        </section>

        <section id="nav_secondaire">
            <div id="tout_savoir">
                <div class="savoir_plus">
                    <img src="img/accueil_1.jpg" alt="Photo étudiants Départment Informatique">
                    <a class="center blanc up" href="index.php?page=tout_savoir"><span>En savoir plus</span></a>
                </div>
                <div>
                    <h2 class="center up">Tout savoir sur le DUT</h2>
                    <p>
                        Vous êtes lycéens ? Voici ici tout ce qu'il faut savoir sur le <strong>DUT Informatique de Belfort</strong>.
                    </p>
                    <p>
                        Qu'y fait-on ? Que faire après avec ce DUT ? L'<strong>alternance</strong> en deuxième année ?
                    </p>
                </div>
            </div>

            <div id="equipe">
                <div class="savoir_plus">
                    <img src="img/accueil_2.jpg" alt="Photo étudiants Département Informatique">
                    <a class="center blanc up" href="index.php?page=equipe"><span>En savoir plus</span></a>
                </div>
                <div>
                    <h2 class="center up">L'équipe pédagogique</h2>
                    <p>
                        Découvrez les différentes personnes composant l'équipe pédagogique du <strong>DUT Informatique de Belfort</strong>.
                    </p>
                    <p>
                        Chef du Département, enseignants ou secrétariat : trouvez ici le moyen de les contacter.
                    </p>
                </div>
            </div>

            <div id="offres">
                <div class="savoir_plus">
                    <img src="img/accueil_3.jpg" alt="Photo étudiants Département Informatique">
                    <a class="center blanc up" href="index.php?page=offres"><span>En savoir plus</span></a>
                </div>
                <div>
                    <h2 class="center up">Offres de stages</h2>
                    <p>
                        Vous êtes étudiant et à la recherche de <strong>stage</strong> ou d'<strong>emploi</strong> ?
                    </p>
                    <p>
                        Les entreprises postent leurs offres ici afin de vous aider dans votre recherche.
                    </p>
                </div>
            </div>
        </section>
{% endblock %}