{% extends 'general.html.twig' %}

{% block idBody %}inscription{% endblock %}

{% block contenu %}
    <section>
        <h2 class="center up">Inscription</h2>
        <div id="formInsc">
            <form method="post" action="traitement.php">
                <p>
                    <label for="idCo">Identifiant (Nom de l'entreprise)</label>
                    <input type="text" name="identifiant" id="idCo"/><br>

                    <label for="psw">Mot de passe</label>
                    <input type="password" name="psw" id="psw"/><br>

                    <label for="ConfirmedPsw">Confirmation mot de passe</label>
                    <input type="password" name="ConfirmedPsw" id="ConfirmedPsw"/><br>

                    <label for="siret">N°SIRET</label>
                    <input type="text" name="numeroSiret" id="siret"/><br>

                    <label for="code">Code APE/NAF</label>
                    <input type="text" name="codeAPE/NAF" id="code"/><br>

                    <label for="typeEnt">Type d'entreprise</label>
                    <select name="typeEnt" id="typeEnt">
                        <option value="chooseValue">- Choisir une valeur -</option>
                        <option value="entPrivee">Entreprise privée</option>
                        <option value="entpublique">Entreprise publique / SEM</option>
                        <option value="assoc">Association</option>
                        <option value="admin">Administration</option>
                        <option value="ong">ONG</option>
                        <option value="autoEnt">Auto-entreprise</option>
                    </select><br>

                    <label>Statut juridique</label>
                    <span class="radioContainer radioContainerJur">
                        <span>
                            <input type="radio" name="statJur" value="sa" id="sa"/>
                            <label for="sa">SA</label>
                        </span>
                        <span>
                            <input type="radio" name="statJur" value="sarl" id="sarl"/>
                            <label for="sarl">SARL</label>
                        </span>
                        <span>
                            <input type="radio" name="statJur" value="sas" id="sas"/>
                            <label for="sas">SAS</label>
                        </span>
                        <span>
                            <input type="radio" name="statJur" value="sns" id="sns"/>
                            <label for="sns">SNS</label>
                        </span>
                        <span>
                            <input type="radio" name="statJur" value="eurl" id="eurl"/>
                            <label for="eurl">EURL</label><br>
                        </span>
                    </span>


                    <label>Effectifs</label>
                    <span class="radioContainer radioContainerEff">
                        <span>
                            <input type="radio" name="effectif" value="1-9" id="1-9"/>
                            <label for="1-9">De 1 à 9</label>
                        </span>
                        <span>
                            <input type="radio" name="effectif" value="10-49" id="10-49"/>
                            <label for="10-49">De 10 à 49</label>
                        </span>
                        <span>
                            <input type="radio" name="effectif" value="50-199" id="50-199"/>
                            <label for="50-199">De 50 à 199</label>
                        </span>
                        <span>
                            <input type="radio" name="effectif" value="200-999" id="200-999"/>
                            <label for="200-999">De 200 à 999</label>
                        </span>
                        <span>
                            <input type="radio" name="effectif" value="+1000" id="+1000"/>
                            <label for="+1000">+ de 1000</label><br>
                        </span>
                    </span>


                    <label for="url">Site Web</label>
                    <input type="url" name="url" id="url"/><br>

                    <label for="nomResp">Nom de la personne à contacter</label>
                    <input type="text" name="nomResp" id="nomResp"/><br>

                    <label for="mail">E-mail de la personne à contacter</label>
                    <input type="email" name="mail" id="mail"/><br>

                    <label for="tel">Téléphone de la personne à contacter</label>
                    <input type="tel" name="tel" id="tel"/><br>

                    <label for="logoEnt">Logo</label>
                    <input type="file" name="logoEnt" id="logoEnt"/><br>

                    <label for="desc">Description</label>
                    <textarea name="desc" id="desc" rows="10" cols="40"></textarea><br>

                    <label for="pays">Pays</label>
                    <input type="text" name="pays" id="pays"/><br>

                    <label for="ville">Ville</label>
                    <input type="text" name="ville" id="ville"/><br>

                    <label for="adr">Adresse</label>
                    <input type="text" name="adr" id="adr"/><br>

                    <label for="cp">Code postal</label>
                    <input type="text" name="cp" id="cp"/><br>

                    <input class="btn blanc up" type="submit" value="Valider"/>
                </p>
            </form>
        </div>
    </section>
{% endblock %}