{% extends 'general.html.twig' %}

{% block idBody %}offreDetaillee{% endblock %}

{% block contenu %}
    <div>
        <div class="logoEntOffre">
            <img src="img/web.png" alt="Logo Entreprise">
            <h3 class="bleuF up">Entreprise</h3>
        </div>
        <div>
            <div id="donneesOffre">
                <h3 class="up">Poste recherché</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    A aliquam commodi consequuntur cumque deleniti deserunt, itaque
                    minus necessitatibus nemo non nostrum officiis optio quibusdam reiciendis
                    rerum saepe sit sunt voluptates?
                </p>
                <h3 class="up">Description du poste</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
                    ad alias atque, blanditiis corporis culpa cum cumque debitis
                    deserunt eligendi illo in ipsam ipsum itaque libero magnam
                    numquam officia officiis, quae quia quibusdam recusandae
                    repellendus reprehenderit repudiandae sapiente ullam voluptate.
                    Aliquam corporis distinctio et, explicabo impedit iure soluta
                    tempore veritatis.
                </p>
                <h3 class="up">Profil recherché</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
                    ad alias atque, blanditiis corporis culpa cum cumque debitis
                    deserunt eligendi illo in ipsam ipsum itaque libero magnam
                    numquam officia officiis, quae quia quibusdam recusandae
                    repellendus reprehenderit repudiandae sapiente ullam voluptate.
                    Aliquam corporis distinctio et, explicabo impedit iure soluta
                    tempore veritatis.
                </p>
            </div>
            <div>
                <p><a href="" class="bleuF">www.entreprise.com</a></p>
                <p>Tel. <span class="bleuF">03.81.55.55.55</span></p>
                <p>Email <span class="bleuF">entreprise@gmail.com</span>
            </div>
        </div>

    </div>
{% endblock %}